xelab.pb
xvlog.pb
xsim.dir
.vscode
build/
work/
*.vcd
*.vvp
*.wdb
*.log
obj_dir/
.tools/
modelsim.ini
transcript
xsim.jou
vivado*.jou
vivado/*.cache/
vivado/*.hw/
vivado/*.ip_user_files/
vivado/*.runs/
vivado/*.sim/
vivado/*.srcs/
vivado/*.xpr
dfx_runtime.txt
